.btn-warning{
  width: 150px;
  height: 50px;
}
.btn-info{
  width: 150px;
  height: 50px;
}
.top{
  margin-top: 10px;
}
hr{
  width: 90%;
}
h2{
  text-align: center;
}
button{
  background-color: black;
  color: #fff;
}
.box-model{
  width: 100px;
  height:100px;
  background-color: #000;
  border: solid 3px yellow;
  margin: 30px;
  padding: 30px;
  outline: solid 3px red;
}
